<%- include("partials/header") -%>
<div class="container">
  <h1>COVID-19 TRACKER</h1>
</div>
<div class="box">
  <h2>COVID-19 Cases Overview Across States In India</h2>
  <h2>Last Updated time <%= time %> </h2>
</div>
<nav class="navbar">
  <div class="container-fluid">
    <form method="post" action="/state" class="d-flex">
      <input class="form-control me-2" type="search" name="search"  autocomplete="off" placeholder="Search Your State" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="background-color:#e3cade;">STATES</th>
      <th scope="col" style="background-color:#e3cade;">Confirmed Cases</th>
      <th scope="col" style="background-color:#e3cade;">Active Cases</th>
      <th scope="col" style="background-color:#e3cade;">Recovered Cases</th>
      <th scope="col" style="background-color:#e3cade;">Deaths</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i<37; i++){ %>
    <tr>
      <th scope="row"><%= states[i] %> </th>

      <td style="color: red;"><%= cases[i] %></td>
      <td style="color: red;"><%= active[i] %> </td>
      <td style="color: green;"> <%= recovered[i] %> </td>
      <td style="color: grey;"><%= deaths[i] %>  </td>
    </tr>
    <%  } %> 
  </tbody>
</table> 
<!--<div >
  <h2>COVID-19 Cases Overview Across States In India</h2>
  <h2>Last Updated time <%= time %> </h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      STATES
    </div>
    <div class="col-lg-2">
      Confirmed Cases
    </div>
    <div class="col-lg-2">
      Active Cases
    </div>
    <div class="col-lg-2">
      Recovered Cases
    </div>
    <div class="col-lg-2">
      Deaths
    </div>
  </div>
  <% for(var i = 0; i<37; i++){ %>
  <div class="row">
    <div class="col-lg-2">
      <%= states[i] %>
    </div>
    <div class="col-lg-2">
      <%= cases[i] %>
    </div>
    <div class="col-lg-2">
      <%= active[i] %>
    </div>
    <div class="col-lg-2">
      <%= recovered[i] %>
    </div>
    <div class="col-lg-2">
      <%= deaths[i] %>
    </div>
  </div>
  <%  } %> 
</div> -->
<%- include("partials/footer") -%>