<%- include("partials/header") -%>
<div class="container">
    <h1>COVID-19 TRACKER</h1>
  </div>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <form method="post" action="/vaccines" class="d-flex">
        <input class="form-control me-2" type="pin" name="pincode" autocomplete="off"
          placeholder="Enter your pincode" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container-fluid box">
<h2>Get vaccines slots availability in<b> <%= district %>, <%= state %> </b> </h2>
<h2>Vaccines slots availabile on <%= date %>  </h2>
</div>
<div class="container-fluid vachead">
  <h3>Vaccines for age-limit 18 and above</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Vaccine</th>
      <th scope="col">Total Capacity</th>
      <th scope="col">1st dose</th>
      <th scope="col">2st dose</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i<names.length; i++){ %>
      <tr>
        <th scope="row"><%= names[i] %> </th>
        <td> <%= vaccinees[i] %> </td>
        <td> <%= capacitys[i] %> </td>
        <td> <%= dose1capacitys[i] %> </td>
        <td> <%= dose2capacitys[i] %>  </td>
      </tr>
      <%  } %> 
  </tbody>
</table>

<div class="container-fluid vachead">
  <h3>Vaccines for age-limit 45 and above</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Vaccine</th>
      <th scope="col">Total Capacity</th>
      <th scope="col">1st dose</th>
      <th scope="col">2st dose</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i<names.length; i++){ %>
      <tr>
        <th scope="row"><%= names45[i] %> </th>
        <td> <%= vaccinees45[i] %> </td>
        <td> <%= capacitys45[i] %> </td>
        <td> <%= dose1capacitys45[i] %> </td>
        <td> <%= dose2capacitys45[i] %>  </td>
      </tr>
      <%  } %> 
  </tbody>
</table>
<%- include("partials/footer") -%>